
@{
    ViewData["Title"] = "Car Page";
}

<div class = "card shadow p-2">
    <h1> @ViewData["Title"]</h1>

    <table class="table-bordered table table-striped">
        <thead>
            <tr>
                <th>ID Registration</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Varian</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.Cars)
            {
                <tr>
                    <td>@item.IdRegistration</td>
                    <td>@item.Type</td>
                    <td>@item.Brand</td>
                    <td>@item.Varian</td>
                </tr>
            }
        </tbody>
    </table>

   @*@foreach(var item in ViewBag.Cars)
    {
        <p> ID Registration : @item.IdRegistration</p>
        <p> Type : @item.Type</p>
        <p> Brand : @item.Brand</p>
        <p> Varian : @item.Varian</p>
        <hr/>
    }*@
</div>